.bg {
	height: 100%;
	background-image: url(https://bobandsuewilliams.com/images/new-york-city-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.stock-table {
	color: black;
}

.stock-table-header {
	position: fixed;
	top: 0;
	width: 100%;
}

#price-list-div {
	float: left;
	display: block;
	height: 438px;
	width: 45%;
	margin: 25px;
	overflow: auto;
	border-radius: 10px;
	opacity: 0.8;
}

#chart-div {
	border-radius: 10px;
	display: block;
	float: right;
	margin: 25px;
	opacity: 0.8;
	height: 438px;
	width: 45%;
}

#clear {
	clear: both;
}

#drop-down{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	display: block;
	}

#calculate{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	display: block;
	}